<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529923550274-f2apqs7b04hs4scva5m2ptbv80qr6650.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529923550274-f2apqs7b04hs4scva5m2ptbv80qr6650</string>
	<key>API_KEY</key>
	<string>AIzaSyBVP8Ow8WVJqv1w-R05LxZdkzBh3Su9ncE</string>
	<key>GCM_SENDER_ID</key>
	<string>529923550274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterIntroduccionFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutterdb-8847d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterdb-8847d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529923550274:ios:34f96f730eb6fca6a991db</string>
</dict>
</plist>